/** Your theme modifications here **/

/** Section Style Landing Page About **/
@import url('https://fonts.googleapis.com/css?family=Courgette|Libre+Baskerville');

.img-rounded {
    border-radius: 6px;
}

.page {
    overflow: hidden;background-color: #fff;padding: 50px 0;
}

.container:before {
	display: table;content: " ";
}

.page-header { 
	margin: 0 0 20px 0; padding: 0; border: none;visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;
}

.page-header h2 {
    text-transform: uppercase; font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif; font-style: normal; font-weight: 400;font-size: 34px; line-height: 42px;
}

.devider {
    width: 100%; height: 23px; background: url(../../images/devider.png) no-repeat center center; margin: 5px 0 10px;
}

h3.subtitle {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif; font-style: italic; font-weight: 400; font-size: 18px; line-height: 26px;
}

#home-introduction-content {
    padding-top: 6px; padding-right: 20px;
}

.default-content {
    position: relative;
}

.default-content:before {
	display: table; content: ""; line-height: 0;
}

.default-content .arrow-cta {
    margin-top: 23px;
}

.arrow-cta.float-right-version {
    float: right;
}

.arrow-cta.float-center-version {
    display: table;
}

.arrow-cta.float-left-version {
    float: left;
}

.arrow-cta {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;font-style: normal;font-weight: 500;font-size: 13px;line-height: 21px;text-transform: uppercase;letter-spacing: .075em;color: #464646;display: inline-block;vertical-align: top;zoom: 1;padding-right: 18px;position: relative;cursor: pointer;text-decoration: none;
}

.arrow-cta:after {
    font: normal normal normal 14px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\f138";display: block;color: #464646;position: absolute;top: 0;right: 0;font-size: 14px;line-height: 21px;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;
}

.default-content p {
    font-family: 'Open Sans',Verdana,Geneva,sans-serif; font-style: normal; font-weight: 400;font-size: 14px; line-height: 28px; color: #464646; text-align: justify;
}

.default-content p .first-letter {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif; font-style: normal; font-weight: 400; font-size: 58px; line-height: 56px; color: #464646; text-transform: uppercase; float: left; margin-right: 8px; margin-bottom: -4px;
}

.group-landing-news-item {
    position: relative;
    padding-left: 60px;
    min-height: 55px;
    padding-top: 5px;
    margin-bottom: 35px;
}

.group-landing-news-item .news-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 50px;
    background: #acbfc6;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.group-landing-news-item .news-icon img {
    display: block;
    height: 54px;
    position: absolute;
    top: -2px;
    left: -2.5px;
}

.group-landing-news-item h2 {
    font-family: "Harriet Display Medium",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
    color: #707070;
    margin-top: 0px;
    margin-bottom: -1px;
}

.group-landing-news-item p {
    color: #707070;
}

#category-landing-pages p {
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

#category-landing-pages blockquote {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}
